@font-face {
  font-family: JetBrainsMono;
  src: url(./src/assets/fonts/Jet/JetBrainsMonoNerdFontPropo-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@import "tailwindcss";

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-sec: var(--sec);
  --color-text: var(--text);
  --color-dark: #0b1016;
  --color-text-dark: #ddf0f0;
  --color-main: var(--color-ter-blue);
  --color-main-dark: #1a1b60;
  --color-ter-red: #e61932;
  --color-ter-green: #6ce619;
  --color-ter-yellow: #e6b019;
  --color-ter-blue: #3b19e6;
  --color-ter-purple: #e619e1;
  --color-ter-cyan: #19a7e6;
  --color-ter-white: #ebebeb;
  --color-ter-black: #181e26;
  --font-jetbrains: "JetBrainsMono";
  --font-inter: Inter, "JetBrainsMono";
  --animate-scale: scale 6s linear infinite;
  --animate-blink: blink 1.2s steps(1) infinite;
  --animate-nav: nav 0.2s ease-in-out;
  --animate-close: colse 0.2s ease-in-out;
  --shadow-glass: 0 0 32px #fff;
  --shadow-taf:
    inset 0 1px 4px #ffffff30, 0 3px 6px #00000030, 0 6px 12px #00000015;
  --animate-ping: ping 1.25s infinite;

  @keyframes close {
    100% {
      transform: scale(0);
    }

    0% {
      transform: scale(100%);
    }
  }

  @keyframes nav {
    0% {
      transform: scale(0);
    }

    100% {}
  }

  @keyframes blink {

    50%,
    100% {
      opacity: 0;
    }
  }

  @keyframes ping {

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes scale {

    0%,
    100% {
      transform: scale(1);
    }

    25% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.2);
    }
  }
}

.ter-red {
  color: var(--color-ter-red);
}

.ter-green {
  color: var(--color-ter-green);
}

.ter-yellow {
  color: var(--color-ter-yellow);
}

.ter-blue {
  color: var(--color-ter-blue);
}

.ter-purple {
  color: var(--color-ter-purple);
}

.ter-cyan {
  color: var(--color-ter-cyan);
}

.ter-white {
  color: var(--color-ter-white);
}

.ter-black {
  color: var(--color-ter-black);
}

* {
  cursor: none;
}

.title-1 {
  font-size: var(--text-6xl);
}

.title-2 {
  font-size: var(--text-3xl);
}

.title-3 {
  font-size: var(--text-2xl);
}

.title-4 {
  font-size: var(--text-xl);
}
