@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;
    /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
    /* Firefox 97+, Safari 15.4+ */
  }

  @page {
    size: A4;
    margin: 0;
  }

  * {
    max-height: 29.7cm;
    break-after: avoid;
    break-inside: avoid;
    break-before: avoid;
    filter: none;
    transform: none;
  }

  nav,
  nav>* {
    display: none;
  }

  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot {
    display: none;
  }

  #field,
  #field>div {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
  }

  #buffer {
    display: none;
  }

  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #page {
    position: absolute;
    z-index: 1000;
    width: 21cm;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) !important;
  }

  #pageFrame,
  #pageBound {
    box-shadow: none;
    border-radius: 0px;
  }

  #pageFrame {
    display: none;
  }

  #cursor {
    display: none;
  }
}
